body{
    background-size: cover;
}
.heading
{
    font-size:23px;
    width:100%;
    margin:0px;
}
#status , #number_of_objects , #start
{
    font-size: 18px;
}
.copy_right_footer
{
    position:fixed;
    color:white;
    bottom: 0;
    width:60%;
    background-color:black;
    line-height: 3;
    text-align: center;
    font-size: 20px;
    animation-name: Jimmy2;
    animation-iteration-count: infinite;
    animation-duration: 3s;

}
.copy_right_foot
{
    position:fixed;
    color:rgb(0, 0, 0);
    bottom: 0;
    width:60%;
    background-color:rgb(255, 255, 255);
    line-height: 3;
    text-align: center;
    margin-left: 750px;
    font-size: 20px;
    animation-name: Jimmy3;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

canvas{
    border-color: red;
    border-style: double;
    border-width:20px;
    animation-name: Jimmy;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes Jimmy
{
    from{border-color:blue;}
    to{border-color: red;}
}
@keyframes Jimmy2
{
    from{background-color:black;}
    to{background-color: white;}
    
    from{color:white;}
    to{color:black;}
}
@keyframes Jimmy3
{
    from{background-color:white;}
    to{background-color: black;}

    from{color:black;}
    to{color:white;}
}

















































































































































































































































































































































































































































































































































































































































































































body{text-align: center;}